* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

header {
  background-color: #f5f9fe;
  box-shadow: 0 2px 4px #e2ebfc;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
header .header__container {
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header .logo {
  color: #2a73dd;
  font-weight: 700;
  font-size: 1.8rem;
}
header nav a {
  text-decoration: none;
  margin-left: 20px;
  color: #1d365e;
  transition: 0.3s;
  font-size: 1.1rem;
  position: relative;
}
header nav a:hover {
  color: #2a73dd;
}
header nav a::before {
  content: "";
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  background: #2a73dd;
  position: absolute;
  transition: 0.3s;
}
header nav a:hover::before {
  width: 100%;
}
header nav a.active {
  color: #2a73dd;
}
header nav a.active::before {
  content: "";
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: #2a73dd;
  position: absolute;
}

.banner {
  padding-top: 80px;
  background-image: url(../image/product-header-bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .detail .btn-group button {
  padding: 25px 35px;
  border-radius: 8px;
  border: 2px solid #1d365e;
}/*# sourceMappingURL=main.css.map */