//color
$color-dark-1: #656774;
$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-white-3: #fff;
$color-blue-1: #1d365e;
$color-blue-2: #2a73dd;
$color-blue-3: #c9d8f4;
$color-yellow-1: #f9d412;

//dark color
$color-dark-2: #121212;
$color-dark-3: #353536;
$color-dark-4: #212121;

$color-blue-4: #2196f3;

//font size
$fs-1: 14px;
$fs-2: 1.1rem;
$fs-3: 1.8rem;
$fs-4: 70px;
$fs-5: 1.6rem;
$fs-6: 2.25rem;
$fs-7: 20px;
$fs-8: 44px;

//font weight
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;

//letter spacing
$ls-1: 0.015rem;
$ls-2: 0.03rem;

//Padding
$pd-1: 25px;
$pd-2: 225px;
$pd-3: 13px;
$pd-4: 44px;
$pd-5: 100px;
$pd-6: 8px;
$pd-7: 60px;
$pd-8: 150px;

//Margin
$mg-1: 30px;
$mg-2: 25px;
$mg-3: 70px;
$mg-4: 60px;

//border
$bd-1: 2px;
$bd-2: 8px;
// end variable

// mixin

@mixin btn-theme {
  padding: 25px 35px;
  border-radius: 8px;
  border: 2px solid $color-blue-1;
}

// my scss
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
header {
  background-color: $color-white-1;
  box-shadow: 0 2px 4px $color-white-2;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  .header__container {
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    color: $color-blue-2;
    font-weight: $fw-3;
    font-size: $fs-3;
  }
  nav {
    a {
      text-decoration: none;
      margin-left: 20px;
      color: $color-blue-1;
      transition: 0.3s;
      font-size: $fs-2;
      position: relative;
      &:hover {
        color: $color-blue-2;
      }
      &::before {
        content: "";
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        // width: 100%;
        width: 0%;
        height: 3px;
        background: $color-blue-2;
        position: absolute;
        transition: 0.3s;
      }
      &:hover::before {
        width: 100%;
      }
    }
    a.active {
      color: $color-blue-2;
      &::before {
        content: "";
        bottom: -5px;
        width: 100%;
        height: 3px;
        background: $color-blue-2;
        position: absolute;
      }
    }
  }
}
.banner {
  padding-top: 80px;
  background-image: url(../image/product-header-bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  .detail {
    .btn-group {
      button {
        @include btn-theme();
      }
    }
  }
}
